
		/*** GENERAL ***/
		html {
			height: 100%;
		}

		body {
			font-family: Monospace;
			font-weight: bold;
			background-color: #ffffff;
			margin: 0px;
			overflow: hidden;
			font-size: 20px;
			height: 100%;
		}

		.none {
			display: none;
		}

		/*** HEADER ***/

		header {
			z-index: 3;
			position: sticky;
			top: 0px;

		}

		nav {
			max-width: 1300px;
			margin: auto;
			display: flex;
			justify-content: space-around;
		}

		nav button {
			border: transparent;
			background-color: inherit;
			/*width: 100%;*/
			cursor: pointer;
			text-decoration: underline rgba(0, 0, 0, 0);
			padding: 10px;
			transition: text-decoration 0.5s;

		}

		nav button:hover {
			text-decoration: underline rgb(0, 0, 0);
		}

		nav .parent-menu {
			position: relative;
		}

		nav .parent-menu .children-menu {
			position: absolute;
			left: 50%;
			top: 100%;
			border: 1px solid black;
			display: none;
		}

		nav .parent-menu:hover .children-menu {
			display: flex;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transform: translate(-50%, 0%);
		}

		nav .children-menu button:hover {
			background-color: rgba(0, 0, 0, 0.11);
		}

		/*** MAIN ***/
		main {
			position: absolute;
			top: 0;
			transform: translate(-50%, 0%);
			left: 50%;
			height: 100%;
			width: 100%;
			color: rgb(23, 23, 23);
			/*border: 1px solid red;*/
			max-width: 1700px;
			margin: 0rem 2rem;
		}

		section {
			z-index: 2;
			display: flex;
			justify-content: space-between;
			margin: 5rem 0rem;
			animation: appear 1s;
			max-height: 95%;
			/*border: 1px solid blue;*/
		}

		.card {
			width: 600px;
			max-height: 100%;
			padding-top: 50px;
			border-radius: 1rem;
			/*overflow: scroll;*/
		}

		.disapear {
			animation: disappear 1s forwards;
		}

		iframe {
			margin-top: 1rem;
			min-width: 300px;
			min-height: 500px;
			width: 25%;
			height: 80vh;
			border-radius: 1rem;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.581);
		}

		@keyframes appear {
			from {
				opacity: 0;
				transform: translate(0px, 100px);
			}

			to {
				opacity: 1;
				transform: translate(0px, 0px);
			}
		}

		@keyframes disappear {
			from {
				opacity: 1;
				transform: translate(0px, 0px);
			}

			to {
				opacity: 0;
				transform: translate(0px, -100px);
				display: none;
			}
		}

		

		/*** THREE JS ***/

		#ThreeJS {
			position: absolute;
			height: 700px;
			width: 700px;
			max-height: 40vw;
			max-width: 40vw;
			right: 50%;
			top: 50%;
			transform: scale(1) translate(50%, -50%);
			border-radius: 50%;
			overflow: hidden;
			z-index: -1;
			transition: transform 1s, right 1s, top 1s, border-radius 3s, width 1s;
		}

		.center {
			right: 50% !important;
			top: 50% !important;
			transform: scale(1) translate(50%, -50%) !important;

		}

		.top-right {
			transform: scale(0.8) translate(10%, -80%) !important;
			right: 0% !important;
			top: 50% !important;
		}

		.right {
			transform: scale(1) translate(-20%, -50%) !important;
			right: 0% !important;
			top: 50% !important;
		}

		.small-center {
			transform: scale(0.70) translate(15%, -75%) !important;
			right: 30% !important;
			top: 50% !important;
		}

		.focus-center {
			border-radius: 5rem !important;
			/*height: 1000px !important;
			width: 1300px !important;*/
		}

		.medium-bottom {
			right: 50% !important;
			top: 60% !important;
			transform: scale(1) translate(50%, -50%) !important;
		}

		/**** CONTROLLER ****/

		.radio-controller {
			position: fixed;
			bottom: 50px;
			left: 50%;
			transform: translate(-50%, 0%);
			z-index: 3;
			position: fixed;
			bottom: 2em;
			width: 9rem;
			height: 6rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 2px;
			grid-row-gap: 2px;
		}

		#rc-up {
			grid-area: 1 / 2 / 2 / 3;
		}

		#rc-down {
			grid-area: 2 / 2 / 3 / 3;
		}

		#rc-left {
			grid-area: 2 / 1 / 3 / 2;
		}

		#rc-right {
			grid-area: 2 / 3 / 3 / 4;
		}


@media (max-width: 1000px) {
    #ThreeJS {
        max-height: 100vw;
        max-width: 100vw;
        right: 50%;
        top: 90%;
        transform: scale(1) translate(50%, -50%);
        border-radius: 100%;
        overflow: hidden;
        z-index: -1;
        transition: transform 1s, right 1s, top 1s, border-radius 3s, width 1s;
    }

    .center {

    }

    .top-right {
    }

    .right {
    }

    .small-center {
    }

    .focus-center {
    }

    .medium-bottom {
    }
}