
/*** GENERAL ***/

* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

html {
	height: 100%;
}

body 
{
	font-family: Monospace;
	font-weight: bold;
	/*background-color: #fcf8de;*/
    background-color: #97e3ff;
	margin: 0px;
	overflow: hidden;
	font-size: 20px;
	height: 100%;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Climate Crisis', cursive;
}

p {
    /*margin-left : 2rem;*/
    text-align: justify;
}

.none {
	display: none;
}

strong {
    text-decoration: underline;
}

/*** HEADER ***/

header {
	z-index: 3;
	position: sticky;
	top: 0px;
}

nav {
	max-width: 1300px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

nav button {
	border: transparent;
	background-color: inherit;
	cursor: pointer;
	text-decoration: underline rgba(0, 0, 0, 0);
	padding: 10px;
	transition: text-decoration 0.5s;
    position: relative;
    z-index: 1;
    /*font-weight: 500;*/
}

nav button:hover {
	text-decoration: underline rgb(0, 0, 0);
}

nav .parent-menu {
	position: relative;
}

nav .parent-menu .children-menu {
	position: absolute;
	left: 50%;
	top: 100%;
	/*border: 1px solid black;*/
	display: none;
    border-radius: 1rem;
}

nav .parent-menu:hover .children-menu {
	display: flex;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(-50%, 0%);
    background-color: rgba(255, 255, 255, 0.537);
}

nav .children-menu button:hover {
	background-color: rgba(0, 0, 0, 0.11);
}

.nav-element {
    position: relative;
}


nav svg {
    position: absolute;
    height: 40px;
    top: 0px;
    left: 50%;
    z-index: 0;
    transform: translate(-30%, 0%);
    transition: transform 0.5s, height;
    /*animation: move 6s ease infinite;*/
}

nav svg:nth-child(2) {
    position: absolute;
    height: 45px;
    top: 0px;
    left: 50%;
    z-index: 0;
    transform: translate(-80%, 0%);
    transition: transform 0.5s, height;
}

nav .nav-element:hover svg {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 0;
    transform: translate(60%, 0%);
}

nav .nav-element:hover svg:nth-child(2)  {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 0;
    transform: translate(-150%, 0%);
}


/*** MAIN ***/
main {
	position: absolute;
	top: 0;
	transform: translate(-50%, 0%);
	left: 50%;
	height: 100%;
	width: 100%;
	color: rgb(23, 23, 23);
	max-width: 1700px;
}

section {
	z-index: 2;
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-direction: column;
	margin: 2.5rem 0rem;
	animation: appear 1s;
    max-height: 95%;
    padding: 1rem;
}

.content {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    padding: 0rem 0rem 40rem;
}


.card {
	max-width: 1000px;
    width: 100%;
	/*max-height: 100%;*/
    /*height: 80vh;*/
	padding-top: 50px;
    /*padding: 0rem 0rem 30rem;*/
    overflow: auto;
}

.content::-webkit-scrollbar,
.card::-webkit-scrollbar {
    width: 0em; 
}

.content::-webkit-scrollbar,
.card::-webkit-scrollbar-track {
  background-color: transparent;
}

.disapear {
	animation: disappear 1s forwards;
}

iframe {
	margin-top: 1rem;
    margin-left: 5rem;
	width: 500px;
	height: 550px;
	border-radius: 1rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.581);
    order: 2;
    z-index: 2;
}


@keyframes appear {
	from {
		opacity: 0;
		transform: translate(0px, 100px);
	}

	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes move{
    50% { transform: translateY(-6px) translateX(-3px); }
}

/*** Cloud ***/

.cloud-container {
    font-size: 20px;
    position: relative;
    padding: 2rem;
    max-width: 35rem;
}

.cloud-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cloud-content p {
    z-index: 1;
    animation: move 6s ease infinite;
}

.cloud p {
    margin-left : 0rem;
    text-align: center;
}

.cloud {
    font-size: 3.7px;
    left: 20px;
    top: 25px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 50rem;
    position: absolute;
    @include border-radius(50%);
    background: #FFFFFF;
    height: 60em; width: 60em;
    box-shadow:
    #FFFFFF 65em -15em 0 -5em, 
    #FFFFFF 25em -25em, 
    #FFFFFF 30em 10em, 
    #FFFFFF 60em 15em 0 -10em, 
    #FFFFFF 85em 5em 0 -5em;
    
    animation: move 6s ease infinite;
}


/************* Specific sections *************/

/* bienvenue */
.bienvenue {
    height: 70vh;
}

.bienvenue > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 0;
    animation: appear 1s 2s forwards;
}

.bienvenue svg {
    height: 3rem;
}

.bienvenue p {
    margin-left: 0rem;
    text-align: center;
}

.bienvenue .cloud-container {
    opacity: 0;
    animation: appear 1s 1s forwards;
}

.cloud-content .radio-controller {
    animation: move 6s ease infinite;
}

/* a-propos */

.a-propos .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.stack-technique * {
    border: 1px solid red;
}

.stack-technique .content {

}


/* contact */

.contact .cloud-container {
    margin-top: 5%;
}

.contact .cloud {
    font-size: 5px;
    top: 20%;
    left: -4rem;
}





#cloud-intro{
    z-index: 0;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    height: 100%;
    /*background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);*/
    background: /*url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
                url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 00px,*/
                url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
      animation: wind 60s linear infinite;
  }
  @keyframes wind{
    100% {
      background-position: 0 200px, 0 300px, 100px 250px;
      
    }
    0% {
      background-position: 1000px 200px, 1200px 300px, 1100px 250px;
      
    }
  
  }

/*** THREE JS ***/

#ThreeJS {
	position: absolute;
	height: 700px;
	transform: scale(1) translate(50%, -50%);
	overflow: hidden;
	z-index: 1;
	transition: transform 1s, right 1s, top 1s, border-radius 1s, width 1s;


    max-height: 100vw;
    max-width: 100%;
    width: 100%;
    right: 50%;
    top: 92%;
}


/**** CONTROLLER ****/

.radio-controller {
    z-index: 3;
	width: 9rem;
	height: 6rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
    
	/*position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
    display: none;
	bottom: 2em;*/
}

.radio-controller svg {
    height: 1rem;
}

#rc-up {
	grid-area: 1 / 2 / 2 / 3;
}

#rc-down {
	grid-area: 2 / 2 / 3 / 3;
}

#rc-left {
	grid-area: 2 / 1 / 3 / 2;
}

#rc-right {
	grid-area: 2 / 3 / 3 / 4;
}


@media (max-width: 1000px) {
    body {
        font-size: 15px;
    }

    .radio-controller {
        bottom: 1em;
    }

    .content {
        flex-direction: column;
    }

    .card {
        overflow: visible;
        height: 100%;
    }

    iframe {
        margin-top: 1rem;
        max-width: 350px;
        min-height: 550px;
        width: 100%;
        height: 80%;
        margin-left: 0rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.581);
        order: 0;
    }

    nav {
        display: none;
    }

    section {
        margin: 0rem 0rem;
    }
}

